@using System.Data
@model DataSet
@Styles.Render("~/bundles/css")

@{ 
    ViewBag.Title = "Búsqueda";
}

<!-- Wrapper -->
<div id="wrapper">
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Búsqueda de centros</h2><span>Hemos encontrado @ViewBag.Cant centros</span>
                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-8 padding-right-30">

                <!-- Sorting / Layout Switcher -->
                <div class="row margin-bottom-25">

                    <div class="col-md-6 col-xs-6">
                        <!-- Layout Switcher -->
                        <div class="layout-switcher">
                            <a href="#" class="grid active"><i class="fa fa-th"></i></a>
                            <a href="@Url.Action("Busqueda_Sidebar","Menu")" class="list"><i class="fa fa-align-justify"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Sorting / Layout Switcher / End -->

                @if (Model.Tables.Count > 0)
                {
                    <div class="row">


                        <!-- Listing Item -->
                        <div class="col-lg-6 col-md-12">
                            <a href="listings-single-page.html" class="listing-item-container compact">
                                <div class="listing-item">
                                    <img src="/Content/images/listing-item-01.jpg" alt="">

                                    <div class="listing-badge now-open">Now Open</div>

                                    <div class="listing-item-content">
                                        <div class="numerical-rating" data-rating="3.5"></div>
                                        <h3>Tom's Restaurant <i class="verified-icon"></i></h3>
                                        <span>964 School Street, New York</span>
                                    </div>
                                    <span class="like-icon"></span>
                                </div>
                            </a>
                        </div>
                        <!-- Listing Item / End -->

                    </div>

                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-20 margin-bottom-40">
                                <nav class="pagination">
                                    <ul>
                                        <li><a href="#" class="current-page">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->
                }
            </div>


            <!-- Sidebar
            ================================================== -->
            <form action="#" method="post" autocomplete="off">
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar">
                        <!-- Widget -->
                        <div class="widget margin-bottom-40">
                            <h3 class="margin-top-0 margin-bottom-30">Filtros de búsqueda</h3>

                            <!-- Row -->
                            <div class="row with-forms">
                                <!-- Cities -->
                                <div class="col-md-12">
                                    <input type="text" placeholder="¿Qué necesitas?" value="" name="Texto" required/>
                                </div>
                            </div>
                            <!-- Row / End -->
                            <!-- Row -->
                            <div class="row with-forms">
                                <!-- Type -->
                                <div class="col-md-12">
                                    <select data-placeholder="Todas las categorías" class="chosen-select">
                                        <option>Todas las categorias</option>
                                        <option>Consultas</option>
                                        <option>Exámenes</option>
                                        <option>Radiografías</option>
                                        <option>Hospitalizaciones</option>
                                        <option>Ecografías</option>
                                        <option>Etología</option>
                                        <option>Guardería</option>
                                        <option>Peluquería</option>
                                        <option>Urgencía</option>
                                        <option>Servicio a domicilio</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Row / End -->
                            <!-- Row -->
                            <div class="row with-forms">
                                <!-- Cities -->
                                <div class="col-md-12">
                                    <div class="input-with-icon location">
                                        <div id="autocomplete-container">
                                            <input id="autocomplete-input" type="text" name="Ubicacion" placeholder="Ubicación">
                                        </div>
                                        <a href="#"><i class="fa fa-map-marker"></i></a>
                                    </div>

                                </div>
                            </div>
                            <button type="submit" class="button fullwidth margin-top-25">Buscar</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Style Switcher
================================================== -->
<script src="~/Content/scripts/switcher.js"></script>

<div id="style-switcher">
    @Scripts.Render("~/bundles/js")
</div>
<!-- Style Switcher / End -->
